.search_wrapper{
    background: url('./../../assets/search-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 80px 13% !important;
    color: #fff;
    z-index: 1;
}

.search_wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.Cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 60px;
}

.Cards .card{
    display: flex;
    gap: 25px;
}

.Cards .card i{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

.cards .card h3{
    font-size: 26px;
}

.Cards .card h3 span{
    display: block;
    font-weight: 300;
    font-size: 12px;
    padding-top: 15px;
}

@media screen and (max-width: 1200px) {
    .Cards{
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (max-width: 768px) {
    .Cards{
        grid-template-columns: repeat(1, 1fr);
    }   
}