.header_wrapper{
    margin-top: 190px;
    padding: 0;
}
.imageContainer{
    height: 480px;
    width: 100%;
    background: url(./../../assets/landscape-Panorama-01.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 18px;
    padding:60px;
    position: relative;
    z-index: 1;
    animation: anim_change_img 5s infinite linear alternate;
    display: flex;
    justify-content: start;
    align-items: center;
}
.imageContainer::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: -1;
    border-radius: 18px;
}
@keyframes anim_change_img {
    0%{
        background: url(./../../assets/landscape-Panorama-02.jpg);
    }
    100%{
        background: url(./../../assets/landscape-Panorama-03.jpg);
    }
}
.imageContainer h2{
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}
.swiper{
    width: 80% !important;
    margin-top: -80px;
}
.DestinationCard{  
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
}
.DestinationCard img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:580px) {
    .imageContainer h2{
        font-size: 32px;
        line-height: 40px;
    }
    .imageContainer{
        height: 300px;
        padding: 20px;
    } 
}