.Footer_wrapper{
    background-color: #1e1e1e;
    padding: 80px 13% !important;
    margin-top: 80px;
    z-index: 1;
    position: relative;
}


.Footer_wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./../../assets/topographic-tile-10.png);
    z-index: -1;
    opacity: 0.05;
}

.top_container{
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
    align-items: center;
}

.top_container .logo a {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.top_container .social{
    display: flex;
    gap: 15px;
    align-items: center;
}

.top_container .social i{
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #1e1e1e;
    font-size: 18px;
}

.bottom_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    padding-bottom: 30px;
}

.bottom_container .footerLinks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom_container .footerLinks h3{
    color: #fff;
    font-size: 22px;
}

.bottom_container .footerLinks ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.bottom_container .footerLinks ul li a{
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    font-size: 14px;
    transition: .6s;
}

.bottom_container .footerLinks ul li:hover a{
    color: #fff;
}

.bottom_container .footerLinks p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 300;
}

.inputwrapper{
    height: 35px;
    width: 100%;
    display: flex;
    gap: 8PX;
    align-items: center;
    margin-top: 30px;
}

.inputwrapper input{
    width: 80%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

@media screen and (max-width:900px) {
    .bottom_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:500px) {
    .bottom_container{
        grid-template-columns: repeat(1,1fr);
    }
    .top_container{
        flex-direction: column;
        gap: 50px;
    }
    .bottom_container .footerLinks{
        align-items: center;
        text-align: center;
    }
}